@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-black text-slate-200 antialiased;
    }
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #000000;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #333333;
        border-radius: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #444444;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #contract-area,
    #contract-area * {
        visibility: visible;
    }

    #contract-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 20px;
        background: white !important;
        color: black !important;
    }

    @page {
        margin: 0;
        size: auto;
    }
}